@model TEST.Models.Wypozyczenia

<h1>Edytuj datę zwrotu</h1>

<form method="post">
    <div class="form-group">
        <label for="DataZwrotu">Nowa data zwrotu</label>
        <input type="date" name="dataZwrotu" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Zapisz</button>
</form>
